body { 
  background-color: #EEEEEE;
  font-family: Verdana, sans-serif;
}

.app {
  display: flex; 
  justify-content: center;
  align-items: baseline;
  height: 80vh
}
.text-input { 
   width: 100%; 
   -webkit-appearance: none;
   padding-top: 10px; 
   box-shadow : none; 
   border-top: none; 
   border-left: none; 
   border-right: none; 
   font-size: inherit;
}
.text-input:focus {
  outline: none;
  /* border: specify yours; */
}

.login-question-p { 
}

.login-question-p:hover {
  text-decoration: underline;
}